.social {

  &__item {
    position   : relative;
    cursor     : pointer;
    display    : flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.item_social {

  &__link {
    display    : flex;
    align-items: center;
    font-family: 'Lato';
    font-weight: 600;
    font-size  : 20px;
    color      : #0CAED5;

    &:hover .item_social__icon {
      background-color: #adc2f5;
      transition      : background-color .3s ease-in-out;
    }

    &:hover {
      background             : radial-gradient(142.65% 2282.99% at 100% -31.65%, #08A6CE 0%, #6352B1 43.75%, #8B0EB7 68.75%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip        : text;
    }
  }

  &__icon {
    position     : relative;
    display      : inline-flex;
    border       : 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    height       : 40px;
    width        : 40px;
    transition   : background-color .3s ease-in-out;

    & img {
      position: absolute;
      top     : calc(50% - 15px);
      left    : calc(50% - 15px);
      z-index : 1;
    }
  }

  &__text {
    width       : 120px;
    margin-right: 40px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}